openapi: 3.0.3
info:
  title: 'Laravel API Documentation'
  description: 'REST API for the Ignite chat platform.'
  version: 1.0.0
servers:
  -
    url: 'https://api.ignite-chat.com'
tags:
  -
    name: Authentication
    description: ''
  -
    name: Users
    description: ''
  -
    name: Guilds
    description: ''
  -
    name: 'Guild Roles'
    description: ''
  -
    name: 'Guild Members'
    description: ''
  -
    name: 'Guild Channels'
    description: ''
  -
    name: 'Guild Invites'
    description: ''
  -
    name: 'Guild Bans'
    description: ''
  -
    name: 'Guild Emojis'
    description: ''
  -
    name: 'Guild Stickers'
    description: ''
  -
    name: Messages
    description: ''
  -
    name: 'Message Pins'
    description: ''
  -
    name: 'Message Reactions'
    description: ''
  -
    name: 'Channel Permissions'
    description: ''
  -
    name: 'Channel Unreads'
    description: ''
  -
    name: 'Direct Messages'
    description: ''
  -
    name: Friends
    description: ''
  -
    name: 'Friend Requests'
    description: ''
  -
    name: Bots
    description: ''
  -
    name: Voice
    description: ''
  -
    name: Typing
    description: ''
  -
    name: CDN
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Authenticate by registering or logging in via the <b>/v1/register</b> or <b>/v1/login</b> endpoints. Include the returned token in the <code>Authorization</code> header as <code>Bearer {token}</code>.'
security:
  -
    default: []
paths:
  /v1/register:
    post:
      summary: 'Register a new user'
      operationId: registerANewUser
      description: 'Creates a new user account and returns an authentication token.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  user:
                    id: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                    name: cool-user
                    username: cool-user
                    email: user@example.com
                    avatar_url: null
                    is_bot: false
                    created_at: '2026-02-19T12:00:00.000000Z'
                    updated_at: '2026-02-19T12:00:00.000000Z'
                  token: 1|abc123def456ghi789jkl012mno345pqr678stu901
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                      name:
                        type: string
                        example: cool-user
                      username:
                        type: string
                        example: cool-user
                      email:
                        type: string
                        example: user@example.com
                      avatar_url:
                        type: string
                        example: null
                        nullable: true
                      is_bot:
                        type: boolean
                        example: false
                      created_at:
                        type: string
                        example: '2026-02-19T12:00:00.000000Z'
                      updated_at:
                        type: string
                        example: '2026-02-19T12:00:00.000000Z'
                  token:
                    type: string
                    example: 1|abc123def456ghi789jkl012mno345pqr678stu901
        429:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Too many register attempts. Please try again later.'
                properties:
                  message:
                    type: string
                    example: 'Too many register attempts. Please try again later.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: 'The desired username. Must contain only letters, numbers, and hyphens.'
                  example: cool-user
                email:
                  type: string
                  description: 'An optional email address.'
                  example: user@example.com
                  nullable: true
                password:
                  type: string
                  description: 'An optional password for the account.'
                  example: s3cur3P@ssw0rd
                  nullable: true
                hcaptcha_captcha_token:
                  type: string
                  description: 'A valid hCaptcha verification token.'
                  example: 10000000-aaaa-bbbb-cccc-000000000001
              required:
                - username
                - hcaptcha_captcha_token
      security: []
  /v1/login:
    post:
      summary: 'Log in an existing user'
      operationId: logInAnExistingUser
      description: 'Authenticates a user with their username and password, returning an authentication token.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  user:
                    id: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                    name: cool-user
                    username: cool-user
                    email: user@example.com
                    avatar_url: null
                    is_bot: false
                    created_at: '2026-02-19T12:00:00.000000Z'
                    updated_at: '2026-02-19T12:00:00.000000Z'
                  token: 2|xyz789abc012def345ghi678jkl901mno234pqr567
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                      name:
                        type: string
                        example: cool-user
                      username:
                        type: string
                        example: cool-user
                      email:
                        type: string
                        example: user@example.com
                      avatar_url:
                        type: string
                        example: null
                        nullable: true
                      is_bot:
                        type: boolean
                        example: false
                      created_at:
                        type: string
                        example: '2026-02-19T12:00:00.000000Z'
                      updated_at:
                        type: string
                        example: '2026-02-19T12:00:00.000000Z'
                  token:
                    type: string
                    example: 2|xyz789abc012def345ghi678jkl901mno234pqr567
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Invalid credentials'
                properties:
                  message:
                    type: string
                    example: 'Invalid credentials'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Bots cannot log in via this method'
                properties:
                  message:
                    type: string
                    example: 'Bots cannot log in via this method'
        429:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Too many login attempts. Please try again later.'
                properties:
                  message:
                    type: string
                    example: 'Too many login attempts. Please try again later.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: "The user's username."
                  example: cool-user
                password:
                  type: string
                  description: "The user's password."
                  example: s3cur3P@ssw0rd
                hcaptcha_captcha_token:
                  type: string
                  description: 'A valid hCaptcha verification token.'
                  example: 10000000-aaaa-bbbb-cccc-000000000001
              required:
                - username
                - password
                - hcaptcha_captcha_token
      security: []
  /v1/@me:
    get:
      summary: 'Get the authenticated user'
      operationId: getTheAuthenticatedUser
      description: "Returns the currently authenticated user's profile information."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                  name: cool-user
                  username: cool-user
                  email: user@example.com
                  avatar_url: null
                  is_bot: false
                  created_at: '2026-02-19T12:00:00.000000Z'
                  updated_at: '2026-02-19T12:00:00.000000Z'
                properties:
                  id:
                    type: string
                    example: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                  name:
                    type: string
                    example: cool-user
                  username:
                    type: string
                    example: cool-user
                  email:
                    type: string
                    example: user@example.com
                  avatar_url:
                    type: string
                    example: null
                    nullable: true
                  is_bot:
                    type: boolean
                    example: false
                  created_at:
                    type: string
                    example: '2026-02-19T12:00:00.000000Z'
                  updated_at:
                    type: string
                    example: '2026-02-19T12:00:00.000000Z'
      tags:
        - Users
  '/v1/users/@me/guilds/{guild_id}':
    delete:
      summary: 'Leave a guild'
      operationId: leaveAGuild
      description: 'Removes the authenticated user from the specified guild. If the user is the guild owner, the guild is deleted instead.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: ''
                    type: object
                    example:
                      message: 'Left the guild successfully.'
                    properties:
                      message:
                        type: string
                        example: 'Left the guild successfully.'
                  -
                    description: 'Owner deletes guild'
                    type: object
                    example:
                      message: 'Guild deleted successfully.'
                    properties:
                      message:
                        type: string
                        example: 'Guild deleted successfully.'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not a member of this guild.'
                  user_id: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                  guilds: []
                properties:
                  message:
                    type: string
                    example: 'Not a member of this guild.'
                  user_id:
                    type: string
                    example: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                  guilds:
                    type: array
                    example: []
      tags:
        - Users
    parameters:
      -
        in: path
        name: guild_id
        description: 'The ID of the guild.'
        example: '1361304246644899840'
        required: true
        schema:
          type: integer
      -
        in: path
        name: guild
        description: 'The ID of the guild to leave.'
        example: 9e4f23a1-c8d9-4e56-b012-4f5e6d7c8b9a
        required: true
        schema:
          type: string
  /v1/users/@me:
    patch:
      summary: 'Update the authenticated user'
      operationId: updateTheAuthenticatedUser
      description: "Updates the currently authenticated user's profile fields such as display name and avatar."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                  name: CoolUser
                  username: cool-user
                  email: user@example.com
                  avatar_url: 'https://cdn.example.com/avatars/cool-user.png'
                  is_bot: false
                  created_at: '2026-02-19T12:00:00.000000Z'
                  updated_at: '2026-02-19T12:30:00.000000Z'
                properties:
                  id:
                    type: string
                    example: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                  name:
                    type: string
                    example: CoolUser
                  username:
                    type: string
                    example: cool-user
                  email:
                    type: string
                    example: user@example.com
                  avatar_url:
                    type: string
                    example: 'https://cdn.example.com/avatars/cool-user.png'
                  is_bot:
                    type: boolean
                    example: false
                  created_at:
                    type: string
                    example: '2026-02-19T12:00:00.000000Z'
                  updated_at:
                    type: string
                    example: '2026-02-19T12:30:00.000000Z'
      tags:
        - Users
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The new display name for the user. Max 32 characters.'
                  example: CoolUser
                avatar_url:
                  type: string
                  description: "A URL pointing to the user's new avatar image."
                  example: 'https://cdn.example.com/avatars/cool-user.png'
                  nullable: true
  /v1/users/@me/guilds/settings:
    get:
      summary: 'List guild notification settings'
      operationId: listGuildNotificationSettings
      description: 'Returns all per-guild notification settings for the authenticated user.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 9e4f23a1-d9e0-4f67-c123-5g6h7i8j9k0l
                    user_id:
                      type: string
                      example: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                    guild_id:
                      type: string
                      example: 9e4f23a1-c8d9-4e56-b012-4f5e6d7c8b9a
                    suppress_everyone:
                      type: boolean
                      example: false
                    suppress_roles:
                      type: boolean
                      example: false
                    message_notifications:
                      type: integer
                      example: 0
                    created_at:
                      type: string
                      example: '2026-02-19T12:00:00.000000Z'
                    updated_at:
                      type: string
                      example: '2026-02-19T12:00:00.000000Z'
                example:
                  -
                    id: 9e4f23a1-d9e0-4f67-c123-5g6h7i8j9k0l
                    user_id: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                    guild_id: 9e4f23a1-c8d9-4e56-b012-4f5e6d7c8b9a
                    suppress_everyone: false
                    suppress_roles: false
                    message_notifications: 0
                    created_at: '2026-02-19T12:00:00.000000Z'
                    updated_at: '2026-02-19T12:00:00.000000Z'
      tags:
        - Users
    patch:
      summary: 'Update guild notification settings'
      operationId: updateGuildNotificationSettings
      description: 'Updates per-guild notification settings for the authenticated user. Accepts an array of setting objects. Only guilds where the user is a member will be updated.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 9e4f23a1-d9e0-4f67-c123-5g6h7i8j9k0l
                    user_id:
                      type: string
                      example: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                    guild_id:
                      type: string
                      example: 9e4f23a1-c8d9-4e56-b012-4f5e6d7c8b9a
                    suppress_everyone:
                      type: boolean
                      example: true
                    suppress_roles:
                      type: boolean
                      example: false
                    message_notifications:
                      type: integer
                      example: 1
                    created_at:
                      type: string
                      example: '2026-02-19T12:00:00.000000Z'
                    updated_at:
                      type: string
                      example: '2026-02-19T12:30:00.000000Z'
                example:
                  -
                    id: 9e4f23a1-d9e0-4f67-c123-5g6h7i8j9k0l
                    user_id: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                    guild_id: 9e4f23a1-c8d9-4e56-b012-4f5e6d7c8b9a
                    suppress_everyone: true
                    suppress_roles: false
                    message_notifications: 1
                    created_at: '2026-02-19T12:00:00.000000Z'
                    updated_at: '2026-02-19T12:30:00.000000Z'
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              description: ''
              example:
                guild_id: 9e4f23a1-c8d9-4e56-b012-4f5e6d7c8b9a
              items:
                type: object
  '/v1/users/{user}':
    get:
      summary: 'View a user profile'
      operationId: viewAUserProfile
      description: 'Returns the profile information for the specified user.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                  name: cool-user
                  username: cool-user
                  email: user@example.com
                  avatar_url: null
                  is_bot: false
                  created_at: '2026-02-19T12:00:00.000000Z'
                  updated_at: '2026-02-19T12:00:00.000000Z'
                properties:
                  id:
                    type: string
                    example: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
                  name:
                    type: string
                    example: cool-user
                  username:
                    type: string
                    example: cool-user
                  email:
                    type: string
                    example: user@example.com
                  avatar_url:
                    type: string
                    example: null
                    nullable: true
                  is_bot:
                    type: boolean
                    example: false
                  created_at:
                    type: string
                    example: '2026-02-19T12:00:00.000000Z'
                  updated_at:
                    type: string
                    example: '2026-02-19T12:00:00.000000Z'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'User not found'
                properties:
                  message:
                    type: string
                    example: 'User not found'
      tags:
        - Users
    parameters:
      -
        in: path
        name: user
        description: 'The ID of the user to view.'
        example: 9e4f23a1-b8c7-4d56-a012-3f4e5d6c7b8a
        required: true
        schema:
          type: string
  /v1/guilds/discovery:
    get:
      summary: 'Browse Discoverable Guilds'
      operationId: browseDiscoverableGuilds
      description: "Browse and search public guilds that have opted into discovery.\nResults are sorted by member count in descending order, limited to 20."
      parameters:
        -
          in: query
          name: search
          description: 'Optional search term to filter guilds by name.'
          example: Gaming
          required: false
          schema:
            type: string
            description: 'Optional search term to filter guilds by name.'
            example: Gaming
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: '284756320491839488'
                    name:
                      type: string
                      example: 'Gaming Hub'
                    owner_id:
                      type: string
                      example: '184756320491839489'
                    description:
                      type: string
                      example: 'A community for gamers'
                    icon_file_id:
                      type: string
                      example: null
                      nullable: true
                    banner_file_id:
                      type: string
                      example: null
                      nullable: true
                    default_permissions:
                      type: string
                      example: '104324097'
                    is_discoverable:
                      type: boolean
                      example: true
                    created_at:
                      type: string
                      example: '2026-01-15T12:00:00.000000Z'
                    members_count:
                      type: integer
                      example: 42
                    channels:
                      type: array
                      example: []
                    member_count:
                      type: integer
                      example: 42
                    roles:
                      type: array
                      example: []
                example:
                  -
                    id: '284756320491839488'
                    name: 'Gaming Hub'
                    owner_id: '184756320491839489'
                    description: 'A community for gamers'
                    icon_file_id: null
                    banner_file_id: null
                    default_permissions: '104324097'
                    is_discoverable: true
                    created_at: '2026-01-15T12:00:00.000000Z'
                    members_count: 42
                    channels: []
                    member_count: 42
                    roles: []
      tags:
        - Guilds
  /v1/guilds:
    get:
      summary: 'List My Guilds'
      operationId: listMyGuilds
      description: 'Retrieve all guilds that the authenticated user is a member of.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: '284756320491839488'
                    name:
                      type: string
                      example: 'My Server'
                    owner_id:
                      type: string
                      example: '184756320491839489'
                    description:
                      type: string
                      example: null
                      nullable: true
                    icon_file_id:
                      type: string
                      example: null
                      nullable: true
                    banner_file_id:
                      type: string
                      example: null
                      nullable: true
                    default_permissions:
                      type: string
                      example: '104324097'
                    is_discoverable:
                      type: boolean
                      example: false
                    created_at:
                      type: string
                      example: '2026-01-15T12:00:00.000000Z'
                    channels:
                      type: array
                      example: []
                    member_count:
                      type: integer
                      example: 5
                    roles:
                      type: array
                      example: []
                example:
                  -
                    id: '284756320491839488'
                    name: 'My Server'
                    owner_id: '184756320491839489'
                    description: null
                    icon_file_id: null
                    banner_file_id: null
                    default_permissions: '104324097'
                    is_discoverable: false
                    created_at: '2026-01-15T12:00:00.000000Z'
                    channels: []
                    member_count: 5
                    roles: []
      tags:
        - Guilds
    post:
      summary: 'Create a Guild'
      operationId: createAGuild
      description: "Create a new guild owned by the authenticated user.\nUsers are limited to owning a maximum of 5 guilds."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: '284756320491839488'
                  name: 'My New Server'
                  owner_id: '184756320491839489'
                  description: null
                  icon_file_id: null
                  banner_file_id: null
                  default_permissions: '104324097'
                  is_discoverable: false
                  created_at: '2026-02-19T08:30:00.000000Z'
                  channels: []
                  member_count: 1
                  roles: []
                properties:
                  id:
                    type: string
                    example: '284756320491839488'
                  name:
                    type: string
                    example: 'My New Server'
                  owner_id:
                    type: string
                    example: '184756320491839489'
                  description:
                    type: string
                    example: null
                    nullable: true
                  icon_file_id:
                    type: string
                    example: null
                    nullable: true
                  banner_file_id:
                    type: string
                    example: null
                    nullable: true
                  default_permissions:
                    type: string
                    example: '104324097'
                  is_discoverable:
                    type: boolean
                    example: false
                  created_at:
                    type: string
                    example: '2026-02-19T08:30:00.000000Z'
                  channels:
                    type: array
                    example: []
                  member_count:
                    type: integer
                    example: 1
                  roles:
                    type: array
                    example: []
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Server limit reached'
                properties:
                  message:
                    type: string
                    example: 'Server limit reached'
      tags:
        - Guilds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the guild.'
                  example: 'My New Server'
              required:
                - name
  '/v1/guilds/{guild_id}':
    get:
      summary: 'View a Guild'
      operationId: viewAGuild
      description: 'Retrieve detailed information about a specific guild.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: '284756320491839488'
                  name: 'My Server'
                  owner_id: '184756320491839489'
                  description: 'A cool community'
                  icon_file_id: '384756320491839490'
                  banner_file_id: null
                  default_permissions: '104324097'
                  is_discoverable: false
                  created_at: '2026-01-15T12:00:00.000000Z'
                  channels: []
                  member_count: 12
                  roles: []
                properties:
                  id:
                    type: string
                    example: '284756320491839488'
                  name:
                    type: string
                    example: 'My Server'
                  owner_id:
                    type: string
                    example: '184756320491839489'
                  description:
                    type: string
                    example: 'A cool community'
                  icon_file_id:
                    type: string
                    example: '384756320491839490'
                  banner_file_id:
                    type: string
                    example: null
                    nullable: true
                  default_permissions:
                    type: string
                    example: '104324097'
                  is_discoverable:
                    type: boolean
                    example: false
                  created_at:
                    type: string
                    example: '2026-01-15T12:00:00.000000Z'
                  channels:
                    type: array
                    example: []
                  member_count:
                    type: integer
                    example: 12
                  roles:
                    type: array
                    example: []
      tags:
        - Guilds
    delete:
      summary: 'Delete a Guild'
      operationId: deleteAGuild
      description: 'Permanently delete a guild. Only the guild owner can perform this action.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Guild deleted'
                properties:
                  message:
                    type: string
                    example: 'Guild deleted'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Only the owner can delete the guild'
                properties:
                  message:
                    type: string
                    example: 'Only the owner can delete the guild'
      tags:
        - Guilds
    parameters:
      -
        in: path
        name: guild_id
        description: 'The ID of the guild.'
        example: '1361304246644899840'
        required: true
        schema:
          type: integer
      -
        in: path
        name: guild
        description: 'The ID of the guild.'
        example: '284756320491839488'
        required: true
        schema:
          type: string
  '/v1/guilds/{guild_id}/join':
    post:
      summary: 'Join a Guild'
      operationId: joinAGuild
      description: "Join a discoverable guild. The authenticated user will be added as a member.\nFails if the guild is not discoverable, the user is already a member, or the user is banned."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Already a member of this guild'
                properties:
                  message:
                    type: string
                    example: 'Already a member of this guild'
        403:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: ''
                    type: object
                    example:
                      message: 'This guild is not discoverable'
                    properties:
                      message:
                        type: string
                        example: 'This guild is not discoverable'
                  -
                    description: ''
                    type: object
                    example:
                      message: 'You are banned from this guild'
                    properties:
                      message:
                        type: string
                        example: 'You are banned from this guild'
      tags:
        - Guilds
    parameters:
      -
        in: path
        name: guild_id
        description: 'The ID of the guild.'
        example: '1361304246644899840'
        required: true
        schema:
          type: integer
      -
        in: path
        name: guild
        description: 'The ID of the guild to join.'
        example: '284756320491839488'
        required: true
        schema:
          type: string
  '/v1/guilds/{guild_id}/profile':
    get:
      summary: 'View Guild Profile'
      operationId: viewGuildProfile
      description: 'Retrieve the profile details of a specific guild.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: '284756320491839488'
                  name: 'My Server'
                  owner_id: '184756320491839489'
                  description: 'Welcome to our community!'
                  icon_file_id: '384756320491839490'
                  banner_file_id: '484756320491839491'
                  default_permissions: '104324097'
                  is_discoverable: true
                  created_at: '2026-01-15T12:00:00.000000Z'
                  channels: []
                  member_count: 25
                  roles: []
                properties:
                  id:
                    type: string
                    example: '284756320491839488'
                  name:
                    type: string
                    example: 'My Server'
                  owner_id:
                    type: string
                    example: '184756320491839489'
                  description:
                    type: string
                    example: 'Welcome to our community!'
                  icon_file_id:
                    type: string
                    example: '384756320491839490'
                  banner_file_id:
                    type: string
                    example: '484756320491839491'
                  default_permissions:
                    type: string
                    example: '104324097'
                  is_discoverable:
                    type: boolean
                    example: true
                  created_at:
                    type: string
                    example: '2026-01-15T12:00:00.000000Z'
                  channels:
                    type: array
                    example: []
                  member_count:
                    type: integer
                    example: 25
                  roles:
                    type: array
                    example: []
      tags:
        - Guilds
    patch:
      summary: 'Update Guild Profile'
      operationId: updateGuildProfile
      description: "Update the profile of a guild. Requires the \"Manage Guild\" permission.\nAll body parameters are optional; only provided fields will be updated."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: '284756320491839488'
                  name: 'Renamed Server'
                  owner_id: '184756320491839489'
                  description: 'A friendly community for developers.'
                  icon_file_id: '384756320491839490'
                  banner_file_id: '484756320491839491'
                  default_permissions: '104324097'
                  is_discoverable: true
                  created_at: '2026-01-15T12:00:00.000000Z'
                  channels: []
                  member_count: 25
                  roles: []
                properties:
                  id:
                    type: string
                    example: '284756320491839488'
                  name:
                    type: string
                    example: 'Renamed Server'
                  owner_id:
                    type: string
                    example: '184756320491839489'
                  description:
                    type: string
                    example: 'A friendly community for developers.'
                  icon_file_id:
                    type: string
                    example: '384756320491839490'
                  banner_file_id:
                    type: string
                    example: '484756320491839491'
                  default_permissions:
                    type: string
                    example: '104324097'
                  is_discoverable:
                    type: boolean
                    example: true
                  created_at:
                    type: string
                    example: '2026-01-15T12:00:00.000000Z'
                  channels:
                    type: array
                    example: []
                  member_count:
                    type: integer
                    example: 25
                  roles:
                    type: array
                    example: []
      tags:
        - Guilds
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The new name for the guild.'
                  example: 'Renamed Server'
                description:
                  type: string
                  description: 'The guild description.'
                  example: 'A friendly community for developers.'
                  nullable: true
                icon:
                  type: string
                  description: 'A base64-encoded image to use as the guild icon, or null to remove.'
                  example: 'data:image/png;base64,iVBORw0KGgo...'
                  nullable: true
                banner:
                  type: string
                  description: 'A base64-encoded image to use as the guild banner, or null to remove.'
                  example: 'data:image/png;base64,iVBORw0KGgo...'
                  nullable: true
                default_permissions:
                  type: integer
                  description: 'The default permission bitfield for members.'
                  example: 104324097
                is_discoverable:
                  type: boolean
                  description: 'Whether the guild appears in discovery.'
                  example: true
    parameters:
      -
        in: path
        name: guild_id
        description: 'The ID of the guild.'
        example: '1361304246644899840'
        required: true
        schema:
          type: integer
      -
        in: path
        name: guild
        description: 'The ID of the guild.'
        example: '284756320491839488'
        required: true
        schema:
          type: string
  '/v1/guilds/{guild_id}/roles':
    get:
      summary: 'List Guild Roles'
      operationId: listGuildRoles
      description: 'Retrieve all roles belonging to a guild.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: '584756320491839492'
                    guild_id:
                      type: string
                      example: '284756320491839488'
                    name:
                      type: string
                      example: Moderator
                    permissions:
                      type: integer
                      example: 104324097
                    position:
                      type: integer
                      example: 1
                    color:
                      type: integer
                      example: 3447003
                    hoist:
                      type: boolean
                      example: true
                    mentionable:
                      type: boolean
                      example: true
                example:
                  -
                    id: '584756320491839492'
                    guild_id: '284756320491839488'
                    name: Moderator
                    permissions: 104324097
                    position: 1
                    color: 3447003
                    hoist: true
                    mentionable: true
      tags:
        - 'Guild Roles'
    post:
      summary: 'Create a Role'
      operationId: createARole
      description: "Create a new role in a guild. Requires the \"Manage Roles\" permission.\nThe role is created with default values for position (0) and color (0)."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: '584756320491839492'
                  guild_id: '284756320491839488'
                  name: Moderator
                  permissions: null
                  position: 0
                  color: 0
                  hoist: null
                  mentionable: null
                properties:
                  id:
                    type: string
                    example: '584756320491839492'
                  guild_id:
                    type: string
                    example: '284756320491839488'
                  name:
                    type: string
                    example: Moderator
                  permissions:
                    type: string
                    example: null
                    nullable: true
                  position:
                    type: integer
                    example: 0
                  color:
                    type: integer
                    example: 0
                  hoist:
                    type: string
                    example: null
                    nullable: true
                  mentionable:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'Guild Roles'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the role.'
                  example: Moderator
              required:
                - name
    parameters:
      -
        in: path
        name: guild_id
        description: 'The ID of the guild.'
        example: '1361304246644899840'
        required: true
        schema:
          type: integer
      -
        in: path
        name: guild
        description: 'The ID of the guild.'
        example: '284756320491839488'
        required: true
        schema:
          type: string
  '/v1/guilds/{guild_id}/roles/{role_id}':
    get:
      summary: 'View a Role'
      operationId: viewARole
      description: 'Retrieve details of a specific role in a guild.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: '584756320491839492'
                  guild_id: '284756320491839488'
                  name: Moderator
                  permissions: 104324097
                  position: 1
                  color: 3447003
                  hoist: true
                  mentionable: true
                properties:
                  id:
                    type: string
                    example: '584756320491839492'
                  guild_id:
                    type: string
                    example: '284756320491839488'
                  name:
                    type: string
                    example: Moderator
                  permissions:
                    type: integer
                    example: 104324097
                  position:
                    type: integer
                    example: 1
                  color:
                    type: integer
                    example: 3447003
                  hoist:
                    type: boolean
                    example: true
                  mentionable:
                    type: boolean
                    example: true
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Role does not belong to this guild'
                properties:
                  message:
                    type: string
                    example: 'Role does not belong to this guild'
      tags:
        - 'Guild Roles'
    patch:
      summary: 'Update a Role'
      operationId: updateARole
      description: "Update properties of a role in a guild. Requires the \"Manage Roles\" permission.\nAll body parameters are optional; only provided fields will be updated."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: '584756320491839492'
                  guild_id: '284756320491839488'
                  name: 'Senior Moderator'
                  permissions: 104324097
                  position: 2
                  color: 3447003
                  hoist: true
                  mentionable: false
                properties:
                  id:
                    type: string
                    example: '584756320491839492'
                  guild_id:
                    type: string
                    example: '284756320491839488'
                  name:
                    type: string
                    example: 'Senior Moderator'
                  permissions:
                    type: integer
                    example: 104324097
                  position:
                    type: integer
                    example: 2
                  color:
                    type: integer
                    example: 3447003
                  hoist:
                    type: boolean
                    example: true
                  mentionable:
                    type: boolean
                    example: false
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Role does not belong to this guild'
                properties:
                  message:
                    type: string
                    example: 'Role does not belong to this guild'
      tags:
        - 'Guild Roles'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The new name for the role.'
                  example: 'Senior Moderator'
                  nullable: true
                color:
                  type: integer
                  description: 'The role color as an integer.'
                  example: 3447003
                  nullable: true
                permissions:
                  type: integer
                  description: 'The permission bitfield for the role.'
                  example: 104324097
                  nullable: true
                position:
                  type: integer
                  description: 'The position of the role in the hierarchy.'
                  example: 2
                  nullable: true
                hoist:
                  type: boolean
                  description: 'Whether the role should be displayed separately in the member list.'
                  example: true
                  nullable: true
                mentionable:
                  type: boolean
                  description: 'Whether the role can be mentioned by anyone.'
                  example: false
                  nullable: true
    delete:
      summary: 'Delete a Role'
      operationId: deleteARole
      description: 'Delete a role from a guild. Requires the "Manage Roles" permission.'
      parameters: []
      responses:
        204:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Role does not belong to this guild'
                properties:
                  message:
                    type: string
                    example: 'Role does not belong to this guild'
      tags:
        - 'Guild Roles'
    parameters:
      -
        in: path
        name: guild_id
        description: 'The ID of the guild.'
        example: '1361304246644899840'
        required: true
        schema:
          type: integer
      -
        in: path
        name: role_id
        description: 'The ID of the role.'
        example: '1361308651561680896'
        required: true
        schema:
          type: integer
      -
        in: path
        name: guild
        description: 'The ID of the guild.'
        example: '284756320491839488'
        required: true
        schema:
          type: string
      -
        in: path
        name: role
        description: 'The ID of the role.'
        example: '584756320491839492'
        required: true
        schema:
          type: string
  '/v1/guilds/{guild_id}/members':
    get:
      summary: 'List guild members'
      operationId: listGuildMembers
      description: 'Retrieve all members of the specified guild, including their user profiles and roles.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: string
                      example: '112233445566778899'
                    guild_id:
                      type: string
                      example: '998877665544332211'
                    nickname:
                      type: string
                      example: null
                      nullable: true
                    inviter_id:
                      type: string
                      example: '223344556677889900'
                    invite_id:
                      type: string
                      example: '334455667788990011'
                    created_at:
                      type: string
                      example: '2026-01-15T10:30:00.000000Z'
                    updated_at:
                      type: string
                      example: '2026-01-15T10:30:00.000000Z'
                    user:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '112233445566778899'
                        name:
                          type: string
                          example: JohnDoe
                        username:
                          type: string
                          example: johndoe
                        avatar_url:
                          type: string
                          example: null
                          nullable: true
                        is_bot:
                          type: boolean
                          example: false
                        status:
                          type: string
                          example: online
                        is_guest:
                          type: boolean
                          example: false
                    roles:
                      type: array
                      example: []
                example:
                  -
                    user_id: '112233445566778899'
                    guild_id: '998877665544332211'
                    nickname: null
                    inviter_id: '223344556677889900'
                    invite_id: '334455667788990011'
                    created_at: '2026-01-15T10:30:00.000000Z'
                    updated_at: '2026-01-15T10:30:00.000000Z'
                    user:
                      id: '112233445566778899'
                      name: JohnDoe
                      username: johndoe
                      avatar_url: null
                      is_bot: false
                      status: online
                      is_guest: false
                    roles: []
      tags:
        - 'Guild Members'
    parameters:
      -
        in: path
        name: guild_id
        description: 'The ID of the guild.'
        example: '1361304246644899840'
        required: true
        schema:
          type: integer
      -
        in: path
        name: guild
        description: 'The ID of the guild.'
        example: '112233445566778899'
        required: true
        schema:
          type: string
  '/v1/guilds/{guild_id}/members/{user}':
    get:
      summary: 'View a guild member'
      operationId: viewAGuildMember
      description: 'Retrieve a specific member of the guild by their user ID.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  user_id: '112233445566778899'
                  guild_id: '998877665544332211'
                  nickname: Johnny
                  inviter_id: '223344556677889900'
                  invite_id: '334455667788990011'
                  created_at: '2026-01-15T10:30:00.000000Z'
                  updated_at: '2026-01-15T10:30:00.000000Z'
                  user:
                    id: '112233445566778899'
                    name: JohnDoe
                    username: johndoe
                    avatar_url: null
                    is_bot: false
                    status: online
                    is_guest: false
                  roles:
                    -
                      id: '445566778899001122'
                      guild_id: '998877665544332211'
                      name: Moderator
                      permissions: 104
                      position: 1
                      color: '#3498db'
                      hoist: true
                      mentionable: true
                properties:
                  user_id:
                    type: string
                    example: '112233445566778899'
                  guild_id:
                    type: string
                    example: '998877665544332211'
                  nickname:
                    type: string
                    example: Johnny
                  inviter_id:
                    type: string
                    example: '223344556677889900'
                  invite_id:
                    type: string
                    example: '334455667788990011'
                  created_at:
                    type: string
                    example: '2026-01-15T10:30:00.000000Z'
                  updated_at:
                    type: string
                    example: '2026-01-15T10:30:00.000000Z'
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '112233445566778899'
                      name:
                        type: string
                        example: JohnDoe
                      username:
                        type: string
                        example: johndoe
                      avatar_url:
                        type: string
                        example: null
                        nullable: true
                      is_bot:
                        type: boolean
                        example: false
                      status:
                        type: string
                        example: online
                      is_guest:
                        type: boolean
                        example: false
                  roles:
                    type: array
                    example:
                      -
                        id: '445566778899001122'
                        guild_id: '998877665544332211'
                        name: Moderator
                        permissions: 104
                        position: 1
                        color: '#3498db'
                        hoist: true
                        mentionable: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '445566778899001122'
                        guild_id:
                          type: string
                          example: '998877665544332211'
                        name:
                          type: string
                          example: Moderator
                        permissions:
                          type: integer
                          example: 104
                        position:
                          type: integer
                          example: 1
                        color:
                          type: string
                          example: '#3498db'
                        hoist:
                          type: boolean
                          example: true
                        mentionable:
                          type: boolean
                          example: true
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Member not found'
                properties:
                  message:
                    type: string
                    example: 'Member not found'
      tags:
        - 'Guild Members'
    patch:
      summary: 'Update a guild member'
      operationId: updateAGuildMember
      description: "Modify a guild member's nickname or roles. Requires the `manageNicknames` permission\nto update nicknames and the `manageRoles` permission to update roles."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  user_id: '112233445566778899'
                  guild_id: '998877665544332211'
                  nickname: Johnny
                  inviter_id: '223344556677889900'
                  invite_id: '334455667788990011'
                  created_at: '2026-01-15T10:30:00.000000Z'
                  updated_at: '2026-02-19T14:22:00.000000Z'
                  user:
                    id: '112233445566778899'
                    name: JohnDoe
                    username: johndoe
                    avatar_url: null
                    is_bot: false
                    status: online
                    is_guest: false
                  roles:
                    -
                      id: '445566778899001122'
                      guild_id: '998877665544332211'
                      name: Moderator
                      permissions: 104
                      position: 1
                      color: '#3498db'
                      hoist: true
                      mentionable: true
                properties:
                  user_id:
                    type: string
                    example: '112233445566778899'
                  guild_id:
                    type: string
                    example: '998877665544332211'
                  nickname:
                    type: string
                    example: Johnny
                  inviter_id:
                    type: string
                    example: '223344556677889900'
                  invite_id:
                    type: string
                    example: '334455667788990011'
                  created_at:
                    type: string
                    example: '2026-01-15T10:30:00.000000Z'
                  updated_at:
                    type: string
                    example: '2026-02-19T14:22:00.000000Z'
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '112233445566778899'
                      name:
                        type: string
                        example: JohnDoe
                      username:
                        type: string
                        example: johndoe
                      avatar_url:
                        type: string
                        example: null
                        nullable: true
                      is_bot:
                        type: boolean
                        example: false
                      status:
                        type: string
                        example: online
                      is_guest:
                        type: boolean
                        example: false
                  roles:
                    type: array
                    example:
                      -
                        id: '445566778899001122'
                        guild_id: '998877665544332211'
                        name: Moderator
                        permissions: 104
                        position: 1
                        color: '#3498db'
                        hoist: true
                        mentionable: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '445566778899001122'
                        guild_id:
                          type: string
                          example: '998877665544332211'
                        name:
                          type: string
                          example: Moderator
                        permissions:
                          type: integer
                          example: 104
                        position:
                          type: integer
                          example: 1
                        color:
                          type: string
                          example: '#3498db'
                        hoist:
                          type: boolean
                          example: true
                        mentionable:
                          type: boolean
                          example: true
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Member not found'
                properties:
                  message:
                    type: string
                    example: 'Member not found'
      tags:
        - 'Guild Members'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  description: 'The new nickname for the member. Max 32 characters.'
                  example: Johnny
                  nullable: true
                roles:
                  type: array
                  description: 'An array of role IDs to assign to the member.'
                  example:
                    - '445566778899001122'
                    - '556677889900112233'
                  items:
                    type: string
                    nullable: true
    delete:
      summary: 'Remove a guild member'
      operationId: removeAGuildMember
      description: "Kick a member from the guild. Cannot kick the guild owner or yourself.\nRequires the `kickMembers` permission."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Member removed from guild'
                properties:
                  message:
                    type: string
                    example: 'Member removed from guild'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You cannot kick the guild owner'
                properties:
                  message:
                    type: string
                    example: 'You cannot kick the guild owner'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Forbidden
                  permissions: 0
                properties:
                  message:
                    type: string
                    example: Forbidden
                  permissions:
                    type: integer
                    example: 0
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Member not found'
                properties:
                  message:
                    type: string
                    example: 'Member not found'
      tags:
        - 'Guild Members'
    parameters:
      -
        in: path
        name: guild_id
        description: 'The ID of the guild.'
        example: '1361304246644899840'
        required: true
        schema:
          type: integer
      -
        in: path
        name: user
        description: 'The ID of the user to view.'
        example: '112233445566778899'
        required: true
        schema:
          type: string
      -
        in: path
        name: guild
        description: 'The ID of the guild.'
        example: '998877665544332211'
        required: true
        schema:
          type: string
  '/v1/guilds/{guild_id}/channels':
    get:
      summary: 'List Guild Channels'
      operationId: listGuildChannels
      description: 'Retrieves all channels belonging to the specified guild, including text, voice, and category channels.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    guild_id:
                      type: string
                      example: 01JMFNVR2XPAK1GFSE2F7BQ1E
                    channel_id:
                      type: string
                      example: 01JMFNVR3YAK2GFSE3F8CQ2F
                    name:
                      type: string
                      example: general
                    position:
                      type: integer
                      example: 0
                    parent_id:
                      type: string
                      example: 01JMFNVR4ZAK3GFSE4F9DQ3G
                    created_at:
                      type: string
                      example: '2026-02-19T12:00:00.000000Z'
                    type:
                      type: integer
                      example: 0
                    last_message_id:
                      type: string
                      example: 01JMFNVR5AAK4GFSE5F0EQ4H
                    role_permissions:
                      type: array
                      example: []
                example:
                  -
                    guild_id: 01JMFNVR2XPAK1GFSE2F7BQ1E
                    channel_id: 01JMFNVR3YAK2GFSE3F8CQ2F
                    name: general
                    position: 0
                    parent_id: 01JMFNVR4ZAK3GFSE4F9DQ3G
                    created_at: '2026-02-19T12:00:00.000000Z'
                    type: 0
                    last_message_id: 01JMFNVR5AAK4GFSE5F0EQ4H
                    role_permissions: []
                  -
                    guild_id: 01JMFNVR2XPAK1GFSE2F7BQ1E
                    channel_id: 01JMFNVR6BAK5GFSE6F1FQ5I
                    name: voice-chat
                    position: 1
                    parent_id: 01JMFNVR4ZAK3GFSE4F9DQ3G
                    created_at: '2026-02-19T12:00:00.000000Z'
                    type: 2
                    role_permissions: []
                    voice_states: []
                  -
                    guild_id: 01JMFNVR2XPAK1GFSE2F7BQ1E
                    channel_id: 01JMFNVR4ZAK3GFSE4F9DQ3G
                    name: 'Text Channels'
                    position: 0
                    created_at: '2026-02-19T12:00:00.000000Z'
                    type: 3
      tags:
        - 'Guild Channels'
    post:
      summary: 'Create Guild Channel'
      operationId: createGuildChannel
      description: 'Creates a new channel in the specified guild. Supports text channels, voice channels, and category channels.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  guild_id: 01JMFNVR2XPAK1GFSE2F7BQ1E
                  channel_id: 01JMFNVR7CAK6GFSE7F2GQ6J
                  name: announcements
                  position: 0
                  parent_id: 01JMFNVR4ZAK3GFSE4F9DQ3G
                  created_at: '2026-02-19T12:00:00.000000Z'
                  type: 0
                  last_message_id: null
                  role_permissions: []
                properties:
                  guild_id:
                    type: string
                    example: 01JMFNVR2XPAK1GFSE2F7BQ1E
                  channel_id:
                    type: string
                    example: 01JMFNVR7CAK6GFSE7F2GQ6J
                  name:
                    type: string
                    example: announcements
                  position:
                    type: integer
                    example: 0
                  parent_id:
                    type: string
                    example: 01JMFNVR4ZAK3GFSE4F9DQ3G
                  created_at:
                    type: string
                    example: '2026-02-19T12:00:00.000000Z'
                  type:
                    type: integer
                    example: 0
                  last_message_id:
                    type: string
                    example: null
                    nullable: true
                  role_permissions:
                    type: array
                    example: []
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Invalid channel type 5 0'
                properties:
                  message:
                    type: string
                    example: 'Invalid channel type 5 0'
      tags:
        - 'Guild Channels'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the channel.'
                  example: announcements
                type:
                  type: integer
                  description: 'The type of channel to create. 0 = text, 2 = voice, 3 = category.'
                  example: 0
                parent_id:
                  type: string
                  description: 'The ID of the parent category channel.'
                  example: 01JMFNVR4ZAK3GFSE4F9DQ3G
                  nullable: true
              required:
                - name
                - type
    patch:
      summary: 'Bulk Update Guild Channels'
      operationId: bulkUpdateGuildChannels
      description: 'Updates the position and parent category of multiple channels at once. Useful for reordering channels via drag-and-drop.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Channels updated'
                properties:
                  message:
                    type: string
                    example: 'Channels updated'
      tags:
        - 'Guild Channels'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              description: ''
              example:
                id: 01JMFNVR3YAK2GFSE3F8CQ2F
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: 'The ID of the channel to update.'
                    example: 01JMFNVR3YAK2GFSE3F8CQ2F
                  position:
                    type: integer
                    description: 'The new position of the channel.'
                    example: 2
                  parent_id:
                    type: string
                    description: 'The ID of the new parent category channel, or null to remove from a category.'
                    example: 01JMFNVR4ZAK3GFSE4F9DQ3G
                required:
                  - id
                  - position
    parameters:
      -
        in: path
        name: guild_id
        description: 'The ID of the guild.'
        example: '1361304246644899840'
        required: true
        schema:
          type: integer
      -
        in: path
        name: guild
        description: 'The ID of the guild.'
        example: 01JMFNVR2XPAK1GFSE2F7BQ1E
        required: true
        schema:
          type: string
  '/v1/guilds/{guild_id}/channels/{channel}':
    get:
      summary: 'View Guild Channel'
      operationId: viewGuildChannel
      description: 'Retrieves the details of a single channel within the specified guild.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  guild_id: 01JMFNVR2XPAK1GFSE2F7BQ1E
                  channel_id: 01JMFNVR3YAK2GFSE3F8CQ2F
                  name: general
                  position: 0
                  parent_id: 01JMFNVR4ZAK3GFSE4F9DQ3G
                  created_at: '2026-02-19T12:00:00.000000Z'
                  type: 0
                  last_message_id: 01JMFNVR5AAK4GFSE5F0EQ4H
                  role_permissions: []
                properties:
                  guild_id:
                    type: string
                    example: 01JMFNVR2XPAK1GFSE2F7BQ1E
                  channel_id:
                    type: string
                    example: 01JMFNVR3YAK2GFSE3F8CQ2F
                  name:
                    type: string
                    example: general
                  position:
                    type: integer
                    example: 0
                  parent_id:
                    type: string
                    example: 01JMFNVR4ZAK3GFSE4F9DQ3G
                  created_at:
                    type: string
                    example: '2026-02-19T12:00:00.000000Z'
                  type:
                    type: integer
                    example: 0
                  last_message_id:
                    type: string
                    example: 01JMFNVR5AAK4GFSE5F0EQ4H
                  role_permissions:
                    type: array
                    example: []
      tags:
        - 'Guild Channels'
    patch:
      summary: 'Update Guild Channel'
      operationId: updateGuildChannel
      description: 'Updates the properties of a single channel within the specified guild. Requires the Manage Guild permission.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  guild_id: 01JMFNVR2XPAK1GFSE2F7BQ1E
                  channel_id: 01JMFNVR3YAK2GFSE3F8CQ2F
                  name: announcements
                  position: 3
                  parent_id: 01JMFNVR4ZAK3GFSE4F9DQ3G
                  created_at: '2026-02-19T12:00:00.000000Z'
                  type: 0
                  last_message_id: 01JMFNVR5AAK4GFSE5F0EQ4H
                  role_permissions: []
                properties:
                  guild_id:
                    type: string
                    example: 01JMFNVR2XPAK1GFSE2F7BQ1E
                  channel_id:
                    type: string
                    example: 01JMFNVR3YAK2GFSE3F8CQ2F
                  name:
                    type: string
                    example: announcements
                  position:
                    type: integer
                    example: 3
                  parent_id:
                    type: string
                    example: 01JMFNVR4ZAK3GFSE4F9DQ3G
                  created_at:
                    type: string
                    example: '2026-02-19T12:00:00.000000Z'
                  type:
                    type: integer
                    example: 0
                  last_message_id:
                    type: string
                    example: 01JMFNVR5AAK4GFSE5F0EQ4H
                  role_permissions:
                    type: array
                    example: []
      tags:
        - 'Guild Channels'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The new name for the channel.'
                  example: announcements
                position:
                  type: integer
                  description: 'The new position of the channel.'
                  example: 3
                parent_id:
                  type: string
                  description: 'The ID of the new parent category channel, or null to remove from a category.'
                  example: 01JMFNVR4ZAK3GFSE4F9DQ3G
                  nullable: true
                allowed_permissions:
                  type: integer
                  description: 'Bitfield of explicitly allowed permission overrides for this channel.'
                  example: 1024
                denied_permissions:
                  type: integer
                  description: 'Bitfield of explicitly denied permission overrides for this channel.'
                  example: 2048
    parameters:
      -
        in: path
        name: guild_id
        description: 'The ID of the guild.'
        example: '1361304246644899840'
        required: true
        schema:
          type: integer
      -
        in: path
        name: channel
        description: 'The ID of the channel.'
        example: 01JMFNVR3YAK2GFSE3F8CQ2F
        required: true
        schema:
          type: string
      -
        in: path
        name: guild
        description: 'The ID of the guild.'
        example: 01JMFNVR2XPAK1GFSE2F7BQ1E
        required: true
        schema:
          type: string
  '/v1/guilds/{guild_id}/channels/{channel_id}':
    delete:
      summary: 'Delete Guild Channel'
      operationId: deleteGuildChannel
      description: 'Deletes a channel from the specified guild. Supports text, voice, and category channels. Category channels cannot be deleted if they still contain child text channels. Requires the Manage Guild permission.'
      parameters: []
      responses:
        204:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Cannot delete category channel with child text channels'
                properties:
                  message:
                    type: string
                    example: 'Cannot delete category channel with child text channels'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Channel not found'
                properties:
                  message:
                    type: string
                    example: 'Channel not found'
      tags:
        - 'Guild Channels'
    parameters:
      -
        in: path
        name: guild_id
        description: 'The ID of the guild.'
        example: '1361304246644899840'
        required: true
        schema:
          type: integer
      -
        in: path
        name: channel_id
        description: 'The ID of the channel.'
        example: '1361304246657482752'
        required: true
        schema:
          type: integer
      -
        in: path
        name: guild
        description: 'The ID of the guild.'
        example: 01JMFNVR2XPAK1GFSE2F7BQ1E
        required: true
        schema:
          type: string
      -
        in: path
        name: channel
        description: 'The ID of the channel.'
        example: 01JMFNVR3YAK2GFSE3F8CQ2F
        required: true
        schema:
          type: string
  '/v1/invites/{invite}':
    get:
      summary: 'View Invite'
      operationId: viewInvite
      description: "Retrieve details of an invite by its code, including the associated guild and inviting user.\nThis endpoint does not require authentication."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: '395867431602950144'
                  code: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  guild_id: '284756320491839488'
                  user_id: '184756320491839489'
                  expires_at: null
                  created_at: '2026-02-10T18:30:00.000000Z'
                  guild:
                    id: '284756320491839488'
                    name: 'Gaming Hub'
                    owner_id: '184756320491839489'
                    icon_file_id: null
                    banner_file_id: null
                    default_permissions: '104324097'
                    is_discoverable: false
                    created_at: '2026-01-15T12:00:00.000000Z'
                    channels: []
                    member_count: 12
                    roles: []
                  user:
                    id: '184756320491839489'
                    name: JohnDoe
                    username: johndoe
                    avatar_url: null
                    is_bot: false
                    status: online
                    is_guest: false
                properties:
                  id:
                    type: string
                    example: '395867431602950144'
                  code:
                    type: string
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  guild_id:
                    type: string
                    example: '284756320491839488'
                  user_id:
                    type: string
                    example: '184756320491839489'
                  expires_at:
                    type: string
                    example: null
                    nullable: true
                  created_at:
                    type: string
                    example: '2026-02-10T18:30:00.000000Z'
                  guild:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '284756320491839488'
                      name:
                        type: string
                        example: 'Gaming Hub'
                      owner_id:
                        type: string
                        example: '184756320491839489'
                      icon_file_id:
                        type: string
                        example: null
                        nullable: true
                      banner_file_id:
                        type: string
                        example: null
                        nullable: true
                      default_permissions:
                        type: string
                        example: '104324097'
                      is_discoverable:
                        type: boolean
                        example: false
                      created_at:
                        type: string
                        example: '2026-01-15T12:00:00.000000Z'
                      channels:
                        type: array
                        example: []
                      member_count:
                        type: integer
                        example: 12
                      roles:
                        type: array
                        example: []
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '184756320491839489'
                      name:
                        type: string
                        example: JohnDoe
                      username:
                        type: string
                        example: johndoe
                      avatar_url:
                        type: string
                        example: null
                        nullable: true
                      is_bot:
                        type: boolean
                        example: false
                      status:
                        type: string
                        example: online
                      is_guest:
                        type: boolean
                        example: false
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'No query results for model [App\Models\GuildInvite].'
                properties:
                  message:
                    type: string
                    example: 'No query results for model [App\Models\GuildInvite].'
      tags:
        - 'Guild Invites'
      security: []
    post:
      summary: 'Join Guild via Invite'
      operationId: joinGuildViaInvite
      description: "Use an invite code to join a guild. The authenticated user will be added as a member.\nFails if the user is already a member or is banned from the guild."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Already a member of the guild'
                properties:
                  message:
                    type: string
                    example: 'Already a member of the guild'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You are banned from this guild'
                properties:
                  message:
                    type: string
                    example: 'You are banned from this guild'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'No query results for model [App\Models\GuildInvite].'
                properties:
                  message:
                    type: string
                    example: 'No query results for model [App\Models\GuildInvite].'
      tags:
        - 'Guild Invites'
    parameters:
      -
        in: path
        name: invite
        description: 'The invite code.'
        example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        required: true
        schema:
          type: string
  '/v1/guilds/{guild_id}/invites':
    get:
      summary: 'List Guild Invites'
      operationId: listGuildInvites
      description: 'Retrieve all invites for a guild. Requires the Manage Guild permission.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: '395867431602950144'
                    code:
                      type: string
                      example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                    guild_id:
                      type: string
                      example: '284756320491839488'
                    user_id:
                      type: string
                      example: '184756320491839489'
                    expires_at:
                      type: string
                      example: null
                      nullable: true
                    created_at:
                      type: string
                      example: '2026-02-10T18:30:00.000000Z'
                example:
                  -
                    id: '395867431602950144'
                    code: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                    guild_id: '284756320491839488'
                    user_id: '184756320491839489'
                    expires_at: null
                    created_at: '2026-02-10T18:30:00.000000Z'
                  -
                    id: '395867431602950145'
                    code: f9e8d7c6b5a4f9e8d7c6b5a4f9e8d7c6
                    guild_id: '284756320491839488'
                    user_id: '184756320491839490'
                    expires_at: null
                    created_at: '2026-02-12T09:15:00.000000Z'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'This action is unauthorized.'
                properties:
                  message:
                    type: string
                    example: 'This action is unauthorized.'
      tags:
        - 'Guild Invites'
    post:
      summary: 'Create Guild Invite'
      operationId: createGuildInvite
      description: 'Create a new invite for a guild. Requires the Create Invites permission.'
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: '395867431602950146'
                  code: c4d5e6f7a8b9c4d5e6f7a8b9c4d5e6f7
                  guild_id: '284756320491839488'
                  user_id: '184756320491839489'
                  expires_at: null
                  created_at: '2026-02-19T14:22:00.000000Z'
                properties:
                  id:
                    type: string
                    example: '395867431602950146'
                  code:
                    type: string
                    example: c4d5e6f7a8b9c4d5e6f7a8b9c4d5e6f7
                  guild_id:
                    type: string
                    example: '284756320491839488'
                  user_id:
                    type: string
                    example: '184756320491839489'
                  expires_at:
                    type: string
                    example: null
                    nullable: true
                  created_at:
                    type: string
                    example: '2026-02-19T14:22:00.000000Z'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'This action is unauthorized.'
                properties:
                  message:
                    type: string
                    example: 'This action is unauthorized.'
      tags:
        - 'Guild Invites'
    parameters:
      -
        in: path
        name: guild_id
        description: 'The ID of the guild.'
        example: '1361304246644899840'
        required: true
        schema:
          type: integer
      -
        in: path
        name: guild
        description: 'The ID of the guild.'
        example: '284756320491839488'
        required: true
        schema:
          type: string
  '/v1/guilds/{guild}/invites/{invite}':
    get:
      summary: 'View Invite'
      operationId: viewInvite
      description: "Retrieve details of an invite by its code, including the associated guild and inviting user.\nThis endpoint does not require authentication."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: '395867431602950144'
                  code: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  guild_id: '284756320491839488'
                  user_id: '184756320491839489'
                  expires_at: null
                  created_at: '2026-02-10T18:30:00.000000Z'
                  guild:
                    id: '284756320491839488'
                    name: 'Gaming Hub'
                    owner_id: '184756320491839489'
                    icon_file_id: null
                    banner_file_id: null
                    default_permissions: '104324097'
                    is_discoverable: false
                    created_at: '2026-01-15T12:00:00.000000Z'
                    channels: []
                    member_count: 12
                    roles: []
                  user:
                    id: '184756320491839489'
                    name: JohnDoe
                    username: johndoe
                    avatar_url: null
                    is_bot: false
                    status: online
                    is_guest: false
                properties:
                  id:
                    type: string
                    example: '395867431602950144'
                  code:
                    type: string
                    example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
                  guild_id:
                    type: string
                    example: '284756320491839488'
                  user_id:
                    type: string
                    example: '184756320491839489'
                  expires_at:
                    type: string
                    example: null
                    nullable: true
                  created_at:
                    type: string
                    example: '2026-02-10T18:30:00.000000Z'
                  guild:
                    type: object
                    properties:
[...]
